<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="widt=device-width, initial-scale=1">
<title>{{ page.title }}</title>
{% include partial-header-meta.html %}
<link rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" />
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/front-matter.css" />
<link rel="stylesheet" type="text/css" href="css/pygments-default.css" />
</head>

<body>

<div id='page-wrap'>

  <div id='content'>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <section>
      <article>
